.search{
	margin-top: -25px;
	width: 450px; 
	margin-left:auto;
	margin-right:auto;
	border:2px solid orange;
	border-radius:25px;
}

.dropsetting ul{
	display: none;
}

.dropsetting li:hover ul{
	display: block;
}

