* {
    margin: 0;
    padding: 0;
}

.body{
    color: white;
}
#cont-acont {
    background-color: #2e323e;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    min-width: 1000px;
    
}
/*一个块，包含导航栏的大块*/

#cont-a {
    font-family: "微软雅黑";
    position: relative;
    width: 70%;
    height: 60px;
    font-size: 14px;
    color: white;
    margin-left: 200px;
    margin-top: -9px;
    min-width: 1000px;
}
/*在导航栏块里面的一个小块*/

#cont-a ul {
    list-style-type: none;
}
/*list-style-type:none表示不使用序号或圆圈啥的*/

#cont-a ul li {
    float: left;
    position: relative;
    
}
/*这里是设置菜单栏中的选项从左边开始列出去*/

#cont-a ul li a {
    border-right: 0px solid #e9e9e9;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;

}
/* 设置a链接，也就是菜单栏中选项的状态设置*/

#cont-a ul li a:hover {
    background: rgba(120, 119, 119, 1) ;
    color: white;
    font-size: 14px;
}
/* 设置鼠标移动到菜单栏中的选项时的状态*/




// #cont-a ul li ul {
//     display: none;
// }
// /*display: none之后，float和position不生效，即鼠标没有移到选项，下拉菜单不显示*/

// #cont-a ul li:hover ul {
//     background-color: rgba(120, 119, 119, 1);
//     display: block;
//     position: absolute;
//     top: 56px;
//     min-width: 40px;
   
//     left: 0;

    
// }
// /*鼠标移到菜单栏的选项，下拉菜单显示出来及其它的样式*/

// #cont-a ul li ul li a {
//     display: block;
//     background-color: rgba(52, 52, 52, 0.5);
//     color: #ffffff;
//     width: 100px;
//     border-bottom: 1px solid #f2f2f2;
//     border-right: none;
//     margin-left: 0px; 
    
// }
// /*下拉菜单中的选项的样式*/

// #cont-a ul li ul li a:hover {
//     background: orange color:#ffffff;
   

// }
// /*鼠标悬停在下拉菜单中的选项时的样式*/

.border {
    border-left: 0px solid #e9e9e9;
    border-right: 0px solid #e9e9e9;
}
/*.load{border-left: 100px solid ; background-color: rgba(0, 0, 0, 0.3);}*/

.top {
    border-top: 0px solid #f2f2f2;
}
