.container {
    margin-top: 100px;
}
.div1 {
    background: #ffffff;
    font-size: 24px;
    padding: 5px;
    color: black;
}
.div1 .p1 {
    text-align: center;
}
form {
    background: #fff;
    border: #357FC4 solid 1px;
    color: #575454;
    width: 400px;
    margin: 20px auto;
    font-size: 15px;
    border: 1px solid #2e323e;
    border-radius: 25px;
}
// table{
//     margin:10px auto;
// }
a {
    text-decoration: none;
}
input[type="button"] {
    background: #228B22;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    height: 40px;
}
td:first-child {
    text-align: right;
    padding: 0 5px;
}
td:only-child {
    text-align: center;
    font-size: 12px;
}
span:before {
    content: "* ";
    color: red;
}
input[type="text"]:read-only {
    border: #888484 solid 2px;
    background: #888484;
    font-weight: bold;
}
input[type="text"]:hover {
    background: #EFD9AC;
}



