
.personer-imformation{
	background-image: url(../images/stu_infobg.png);
	height: 730px;
}

.img-center{
	margin: auto auto;
	padding-top: 100px;
	padding-bottom: 20px;
}

.page-footer{
	margin-bottom: 10px;
}

.card{
	background-color: rgba(255, 255, 255, 0.2);
}

.cont-a1{   
	margin-left: 14px;
	margin-top: -7px;
}


.line-limit-length {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap; //文本不换行，这样超出一行的部分被截取，显示...
width: 10px;
}

.form-group label:before{
	content: "*";
	color: red;
}