@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    background: white;
}
#cont-acont {
    background-color: #2e323e;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    min-width: 1000px;
}
/*一个块，包含导航栏的大块*/

#cont-a {
    font-family: "微软雅黑";
    position: relative;
    width: 70%;
    height: 60px;
    font-size: 14px;
    color: white;
    margin-left: 200px;
    margin-top: -9px;
    min-width: 1000px;
}
/*在导航栏块里面的一个小块*/

#cont-a ul {
    list-style-type: none;
}
/*list-style-type:none表示不使用序号或圆圈啥的*/

#cont-a ul li {
    float: left;
    position: relative;
}
/*这里是设置菜单栏中的选项从左边开始列出去*/

#cont-a ul li a {
    border-right: 0px solid #e9e9e9;
    padding: 20px;
    display: block;
    text-decoration: none; // 消除链接下划线
    text-align: center;
    color: white;
}
/* 设置a链接，也就是菜单栏中选项的状态设置*/

#cont-a ul li a:hover {
    background: rgba(120, 119, 119, 1) repeat-x;
    color: white;
    font-size: 14px;
}
/* 设置鼠标移动到菜单栏中的选项时的状态*/

// #cont-a ul li ul {
//     display: none;
// }
// /*display: none之后，float和position不生效，即鼠标没有移到选项，下拉菜单不显示*/
// #cont-a ul li:hover ul {
//     display: block;
//     position: absolute;
//     top: 56px;
//     min-width: 40px;
//     left: 0;
// }
// /*鼠标移到菜单栏的选项，下拉菜单显示出来及其它的样式*/
// #cont-a ul li ul li a {
//     background-color: rgba(0, 0, 0, 0.3);
//     color: #ffffff;
//     width: 100px;
//     border-bottom: 1px solid #f2f2f2;
//     border-right: none;
//     margin-left: 0px;
//     margin-top: -5px;
// }
// /*下拉菜单中的选项的样式*/
// #cont-a ul li ul li a:hover {
//     background: orange color:#ffffff;
// }
// /*鼠标悬停在下拉菜单中的选项的样式*/
.border {
    border-left: 0px solid #e9e9e9;
    border-right: 0px solid #e9e9e9;
}
/*.load{border-left: 100px solid ; background-color: rgba(0, 0, 0, 0.3);}*/

.top {
    border-top: 0px solid #f2f2f2;
}
.guding {
    position: fixed;
    top: 0px;
}
.bg {
    height: 600px;
    background-color: pink;
    /*当没有图片时或图片不够大时，这个盒子的背景颜色*/
    background-image: url(../images/bg4.png);
    background-repeat: repeat;
    /*表示平铺*/
}


.indexguide {
    width: 1100px;
    height: 150px;
    background-color: white;
    margin-left: 180px;
    position: relative;
}
.indexguide .guide {
    width: 80%;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
}
.indexguide .guide .text1 {
    width: 20%;
    color: rgba(0, 0, 0, 0.3);
    margin-top: -12px;
    margin-left: 45px;
    margin-bottom: 10px;
}
.indexguide .guide .text2 {
    width: 20%;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 320px;
    margin-top: -76px;
    line-height: 5px;
}
.indexguide .guide .text3 {
    width: 20%;
    color: rgba(0, 0, 0, 0.3);
    margin-left: 605px;
    margin-top: -60px;
    line-height: 13px;
}
.into-loadclient {
    width: 75%;
    height: 384px;
    background-color: pink;
    margin-left: 180px;
    margin-top: 50px;
    background-image: url(../images/kehuduan.jpg);
}
.saoma {
    width: 140px;
    background-color: white;
    position: relative;
    top: 170px;
    left: 70px; 
    border: 1px solid white;// 添加圆角边框
    border-radius: 25px;
}
.saoma .text {
    font-size: 18px;
    position: relative;
    left: 13px;
    top: 13px;
}
.loadclient-text {
    width: 180px;
    height: 200px;
    font-size: 18px;
    color: white;
    position: relative;
    top: 0px;
    left: 220px;
    border: 0px solid white; // 添加圆角边框
    border-radius: 25px;
}
.footer {
    width: 1345px;
    height: 380px;
    background-color: #505050;
    margin-top: -100px;
}
.footer-l {
    width: 60%;
    height: 90px;
    background-color: #505050;
    padding: 95px 0px 0px;
    margin-top: 160px;
}
.footer-l p a {
    display: inline-block;
    color: white;
    font-size: 14px;
    line-height: 23px;
    text-decoration: none;
    margin-left: 163px;
}
.kuai-l {
    width: 30%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 5px;
    position: relative;
    top: -20px;
}
.company p {
    color: white;
    width: 30%;
    height: 25px;
    font-size: 14px;
    margin-left: 163px;
    margin-top: -10px;
    margin-bottom: 16px;
}
.footer-r {
    width: 30%;
    height: 90px;
    background-color: #505050;
    padding: 54px 0px 0px;
    margin-left: 700px;
    margin-top: -90px;
    color: white;
    font-size: 14px;
}
.footer-r a {
    text-decoration: none;
    color: white;
}