<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xuebo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterActionForUser</display-name>
    <servlet-name>RegisterActionForUser</servlet-name>
    <servlet-class>com.xuebo.servlet.RegisterActionForUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionForUser</servlet-name>
    <url-pattern>/RegisterActionForUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterActionForExpert</display-name>
    <servlet-name>RegisterActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.RegisterActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterActionForExpert</servlet-name>
    <url-pattern>/RegisterActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.xuebo.servlet.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalActionForExpert</display-name>
    <servlet-name>PersonalActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.PersonalActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalActionForExpert</servlet-name>
    <url-pattern>/PersonalActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalActionForStudent</display-name>
    <servlet-name>PersonalActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.PersonalActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalActionForStudent</servlet-name>
    <url-pattern>/PersonalActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonalActionForExpert</display-name>
    <servlet-name>UpdatePersonalActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.UpdatePersonalActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonalActionForExpert</servlet-name>
    <url-pattern>/UpdatePersonalActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordActionForExpert</display-name>
    <servlet-name>UpdatePasswordActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.UpdatePasswordActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordActionForExpert</servlet-name>
    <url-pattern>/UpdatePasswordActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePersonalActionForStudent</display-name>
    <servlet-name>UpdatePersonalActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.UpdatePersonalActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePersonalActionForStudent</servlet-name>
    <url-pattern>/UpdatePersonalActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordActionForStudent</display-name>
    <servlet-name>UpdatePasswordActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.UpdatePasswordActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordActionForStudent</servlet-name>
    <url-pattern>/UpdatePasswordActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFirstoptionListAction</display-name>
    <servlet-name>ShowFirstoptionListAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowFirstoptionListAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFirstoptionListAction</servlet-name>
    <url-pattern>/ShowFirstoptionListAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenFirstoptionListActionForSeen</display-name>
    <servlet-name>ScreenFirstoptionListActionForSeen</servlet-name>
    <servlet-class>com.xuebo.servlet.ScreenFirstoptionListActionForSeen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenFirstoptionListActionForSeen</servlet-name>
    <url-pattern>/ScreenFirstoptionListActionForSeen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenFirstoptionListActionForPoint</display-name>
    <servlet-name>ScreenFirstoptionListActionForPoint</servlet-name>
    <servlet-class>com.xuebo.servlet.ScreenFirstoptionListActionForPoint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenFirstoptionListActionForPoint</servlet-name>
    <url-pattern>/ScreenFirstoptionListActionForPoint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenFirstoptionListActionForPrice</display-name>
    <servlet-name>ScreenFirstoptionListActionForPrice</servlet-name>
    <servlet-class>com.xuebo.servlet.ScreenFirstoptionListActionForPrice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenFirstoptionListActionForPrice</servlet-name>
    <url-pattern>/ScreenFirstoptionListActionForPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenFirstoptionListActionForType</display-name>
    <servlet-name>ScreenFirstoptionListActionForType</servlet-name>
    <servlet-class>com.xuebo.servlet.ScreenFirstoptionListActionForType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenFirstoptionListActionForType</servlet-name>
    <url-pattern>/ScreenFirstoptionListActionForType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowFirstmessageAction</display-name>
    <servlet-name>ShowFirstmessageAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowFirstmessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFirstmessageAction</servlet-name>
    <url-pattern>/ShowFirstmessageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookActionForStudent</display-name>
    <servlet-name>BookActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.BookActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookActionForStudent</servlet-name>
    <url-pattern>/BookActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookActionForStudent</display-name>
    <servlet-name>DeleteBookActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.DeleteBookActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookActionForStudent</servlet-name>
    <url-pattern>/DeleteBookActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssessActionForStudent</display-name>
    <servlet-name>AssessActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.AssessActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssessActionForStudent</servlet-name>
    <url-pattern>/AssessActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinishBookActionForExpert</display-name>
    <servlet-name>FinishBookActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.FinishBookActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinishBookActionForExpert</servlet-name>
    <url-pattern>/FinishBookActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptBookActionForExpert</display-name>
    <servlet-name>AcceptBookActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.AcceptBookActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptBookActionForExpert</servlet-name>
    <url-pattern>/AcceptBookActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandPublishActionForStudent</display-name>
    <servlet-name>DemandPublishActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.DemandPublishActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandPublishActionForStudent</servlet-name>
    <url-pattern>/DemandPublishActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDemandActionForStudent</display-name>
    <servlet-name>DeleteDemandActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.DeleteDemandActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDemandActionForStudent</servlet-name>
    <url-pattern>/DeleteDemandActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDemandListActionForExpert</display-name>
    <servlet-name>ShowDemandListActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowDemandListActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDemandListActionForExpert</servlet-name>
    <url-pattern>/ShowDemandListActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStudentDemandReadAction</display-name>
    <servlet-name>ShowStudentDemandReadAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowStudentDemandReadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentDemandReadAction</servlet-name>
    <url-pattern>/ShowStudentDemandReadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenDemandExpertListActionForType</display-name>
    <servlet-name>ScreenDemandExpertListActionForType</servlet-name>
    <servlet-class>com.xuebo.servlet.ScreenDemandExpertListActionForType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenDemandExpertListActionForType</servlet-name>
    <url-pattern>/ScreenDemandExpertListActionForType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptDemandActionForExpert</display-name>
    <servlet-name>AcceptDemandActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.AcceptDemandActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptDemandActionForExpert</servlet-name>
    <url-pattern>/AcceptDemandActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticlePublishActionForExpert</display-name>
    <servlet-name>ArticlePublishActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.ArticlePublishActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticlePublishActionForExpert</servlet-name>
    <url-pattern>/ArticlePublishActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowArticleReadAction</display-name>
    <servlet-name>ShowArticleReadAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowArticleReadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowArticleReadAction</servlet-name>
    <url-pattern>/ShowArticleReadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArticleActionForExpert</display-name>
    <servlet-name>DeleteArticleActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.DeleteArticleActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArticleActionForExpert</servlet-name>
    <url-pattern>/DeleteArticleActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowArticleListActionForExpert</display-name>
    <servlet-name>ShowArticleListActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowArticleListActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowArticleListActionForExpert</servlet-name>
    <url-pattern>/ShowArticleListActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreenArticleExpertListActionForType</display-name>
    <servlet-name>ScreenArticleExpertListActionForType</servlet-name>
    <servlet-class>com.xuebo.servlet.ScreenArticleExpertListActionForType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreenArticleExpertListActionForType</servlet-name>
    <url-pattern>/ScreenArticleExpertListActionForType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrganizationViewAction</display-name>
    <servlet-name>ShowOrganizationViewAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowOrganizationViewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrganizationViewAction</servlet-name>
    <url-pattern>/ShowOrganizationViewAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrganizationIntroduceAction</display-name>
    <servlet-name>ShowOrganizationIntroduceAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowOrganizationIntroduceAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrganizationIntroduceAction</servlet-name>
    <url-pattern>/ShowOrganizationIntroduceAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTribuneListActionForExpert</display-name>
    <servlet-name>ShowTribuneListActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowTribuneListActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTribuneListActionForExpert</servlet-name>
    <url-pattern>/ShowTribuneListActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTribuneListActionForStudent</display-name>
    <servlet-name>ShowTribuneListActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowTribuneListActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTribuneListActionForStudent</servlet-name>
    <url-pattern>/ShowTribuneListActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDiscussViewAction</display-name>
    <servlet-name>ShowDiscussViewAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowDiscussViewAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDiscussViewAction</servlet-name>
    <url-pattern>/ShowDiscussViewAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTribuneActionForExpert</display-name>
    <servlet-name>CreateTribuneActionForExpert</servlet-name>
    <servlet-class>com.xuebo.servlet.CreateTribuneActionForExpert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTribuneActionForExpert</servlet-name>
    <url-pattern>/CreateTribuneActionForExpert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTribuneActionForStudent</display-name>
    <servlet-name>CreateTribuneActionForStudent</servlet-name>
    <servlet-class>com.xuebo.servlet.CreateTribuneActionForStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTribuneActionForStudent</servlet-name>
    <url-pattern>/CreateTribuneActionForStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelectTribuneAction</display-name>
    <servlet-name>DelectTribuneAction</servlet-name>
    <servlet-class>com.xuebo.servlet.DelectTribuneAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelectTribuneAction</servlet-name>
    <url-pattern>/DelectTribuneAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishDiscussAction</display-name>
    <servlet-name>PublishDiscussAction</servlet-name>
    <servlet-class>com.xuebo.servlet.PublishDiscussAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishDiscussAction</servlet-name>
    <url-pattern>/PublishDiscussAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDiscussAction</display-name>
    <servlet-name>DeleteDiscussAction</servlet-name>
    <servlet-class>com.xuebo.servlet.DeleteDiscussAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDiscussAction</servlet-name>
    <url-pattern>/DeleteDiscussAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowHomepageAction</display-name>
    <servlet-name>ShowHomepageAction</servlet-name>
    <servlet-class>com.xuebo.servlet.ShowHomepageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowHomepageAction</servlet-name>
    <url-pattern>/ShowHomepageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadAction</display-name>
    <servlet-name>UploadAction</servlet-name>
    <servlet-class>com.xuebo.servlet.UploadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadAction</servlet-name>
    <url-pattern>/UploadAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResearchActionInHomepage</display-name>
    <servlet-name>ResearchActionInHomepage</servlet-name>
    <servlet-class>com.xuebo.servlet.ResearchActionInHomepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResearchActionInHomepage</servlet-name>
    <url-pattern>/ResearchActionInHomepage</url-pattern>
  </servlet-mapping>
</web-app>